.contact {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    display: flex; 
    justify-content: center;
    align-items: center;
}

form label {
    color: white; 
}

.contact-message {
    color: white; 
}